* {
  box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: black;
}

* a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.align {
  align-items: center;
}

.navbar {
  align-items: center;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  background-color: white;
  padding: 0 20px 0 10px;
  margin-bottom: 40px;
  z-index: 1;
}

.navbar img {
  margin-left: 25%;
}

.margin {
  margin-right: 20%;
  transform: scale(0.9);
}

.logo {
  width: 40%;
  margin: 0 auto;
}

.navbar i {
  margin-right: 20px;
}
.left {
  padding: 8px 10px;
}

.left a {
  font-weight: bold;
}

.btn {
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(86, 123, 149);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bolder;
  margin-right: 5px;
}

.section-1 {
  display: block;
  padding: 7% 20% 1% 20%;
}

.dennis {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 2%;
  margin-top: 1%;
}

iframe {
  width: 100%;
}

.section-1 h1 {
  position: relative;
  top: 20px;
  text-align: center;
  margin-top: 80px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 50px;
  font-size: 55px;
}

.section-1 h4 {
  color: #e8bb97;
}

#main-img {
  width: 100%;
  height: 75%;
}

.main-image {
  margin-top: 20px;
}

.section-2 {
  padding: 1% 30% 1% 30%;
}

.d-icons {
  margin-right: 20%;
  margin-top: 4%;
}

.block {
  flex: 3;
}

.block a,
.popular p {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5%;
}

.grey {
  color: grey;
  font-size: 14px;
}

.icons {
  margin-right: 20px;
}

.para {
  font-size: 20px;
}

.para a {
  color: blue;
  text-decoration: underline;
}

.mid {
  padding-left: 28%;
}

.mid h3 {
  margin-bottom: 1px;
  margin-top: 1px;
}

.blue {
  color: rgba(7, 7, 134, 0.932);
  font-weight: bolder;
  font-size: 20px;
}

.section-2 hr {
  width: 70px;
  height: 1px;
  margin: 2% 20%;
  background-color: rgb(95, 92, 92);
}
