* {
	box-sizing: border-box;
}

* a {
	text-decoration: none;
	color: black;
}

* a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.align {
	align-items: center;
}

.navbar {
	align-items: center;
	position: fixed;
	width: 100%;
	height: 60px;
	top: 0;
	background-color: white;
	padding: 0 20px 0 10px;
	margin-bottom: 40px;
	z-index: 1;
}

.navbar img {
	margin-left: 25%;
}

.margin {
	margin-right: 20%;
	transform: scale(0.9);
}

.logo {
	width: 40%;
	margin: 0 auto;
}

.navbar i {
	margin-right: 20px;
}
