* {
  box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: black;
}

* a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.align {
  align-items: center;
}

.navbar {
  align-items: center;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  background-color: white;
  padding: 0 20px 0 10px;
  margin-bottom: 40px;
  z-index: 1;
}

.navbar img {
  margin-left: 25%;
}

.margin {
  margin-right: 20%;
  transform: scale(0.9);
}

.logo {
  width: 40%;
  margin: 0 auto;
}

.navbar i {
  margin-right: 20px;
}

.left {
  padding: 8px 10px;
}

.left a {
  font-weight: bold;
}

.btn {
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(86, 123, 149);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bolder;
  margin-right: 5px;
}

.section-1 {
  display: block;
  padding: 7% 20% 1% 20%;
}

.dennis {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 2%;
  margin-top: 1%;
}

iframe {
  width: 100%;
}

.section-1 h1 {
  position: relative;
  top: 20px;
  text-align: center;
  margin-top: 80px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 50px;
  font-size: 55px;
}

.section-1 h4 {
  color: #e8bb97;
}

#main-img {
  width: 100%;
  height: 75%;
}

.main-image {
  margin-top: 20px;
}

.section-2 {
  padding: 1% 30% 1% 30%;
}

.d-icons {
  margin-right: 20%;
  margin-top: 4%;
}

.block {
  flex: 3;
}

.block a,
.popular p {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5%;
}

.grey {
  color: grey;
  font-size: 14px;
}

.icons {
  margin-right: 20px;
}

.para {
  font-size: 20px;
}

.para a {
  color: blue;
  text-decoration: underline;
}

.mid {
  padding-left: 28%;
}

.mid h3 {
  margin-bottom: 1px;
  margin-top: 1px;
}

.blue {
  color: rgba(7, 7, 134, 0.932);
  font-weight: bolder;
  font-size: 20px;
}

.section-2 hr {
  width: 70px;
  height: 1px;
  margin: 2% 20%;
  background-color: rgb(95, 92, 92);
}

.section-3 {
  margin: 1% 15% 1% 15%;
  width: 70%;
}

.grid1 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  background-image: url("images/wholegrid.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.griditem {
  margin-top: 90%;
  height: 90%;
  width: 90%;
  padding-top: 2%;
}

.griditem1 {
  height: 100%;
  width: 100%;
  padding-top: 2%;
  margin-top: 20%;
}

.griditem2 {
  height: 80%;
  width: 80%;
  margin-top: 2%;
}

.griditem2 a {
  color: grey;
  float: right;
  font-size: 10px;
}

.griditem2 p {
  margin: 0;
  padding: 0;
  font-size: 17px;
}

.date {
  font-size: 14px;
  color: grey;
}

.section-3 hr {
  margin-left: 0;
  width: 8%;
}

.cosmos {
  width: 100%;
  height: 50%;
}

.vid-para {
  margin: 1px;
  font-size: 16px;
  width: 85%;
}

.vid-para a {
  text-decoration: underline;
  color: grey;
}

.btn1 {
  width: 45%;
}

.aside {
  position: absolute;
  top: 165%;
  left: 75%;
  width: 15%;
}

.aside h2 {
  font-size: 18px;
}

.aside a {
  font-size: 14px;
  padding-top: 3%;
  width: 100%;
}

.aside div {
  margin-bottom: 2%;
}

.section-5 {
  padding: 1% 5% 1% 5%;
}

.section-5 img {
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 1%;
  margin-bottom: 4%;
}

.popular {
  flex: 1;
  margin-left: 2%;
}

.m-pop {
  padding: 5%;
  font-size: 18px;
  border: 1px solid rgb(197, 194, 194);
  border-left: none;
  border-right: none;
  margin-right: 2%;
}

.heading {
  font-weight: bold;
  font-size: 20px;
}

.heading a {
  text-decoration: none;
  padding-left: 5%;
  padding-top: 10px;
}

.heading p {
  margin: 0;
  padding-left: 50%;
  padding-top: 10px;
}

.ftr {
  padding: 1% 5% 1% 5%;
}

.ftr-hd img {
  width: 25%;
  margin: 0 auto;
}

.ftr-lists {
  text-decoration: none;
  list-style-type: none;
  font-size: 15px;
  line-height: 1.5;
}

.ftr-links img {
  height: 17px;
  width: 17px;
}

.s-ftr a {
  font-size: 20px;
  font-weight: bolder;
}

.ftr-crt {
  display: grid;
  grid-template-columns: 3fr repeat(12, 1fr);
  margin: 1% 5% 1% 5%;
  font-size: 13px;
  grid-gap: 2px;
}

.ftr-crt a {
  color: #544d4d;
}
